<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width"/>

	<title>Internal NPM Server</title>

	<link rel="stylesheet" href="/stylesheets/foundation.min.css">
	<link rel="stylesheet" href="/stylesheets/app.css">

	<script src="/javascripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

<div class="row">
	<div class="twelve columns">
		<h2>Welcome</h2>

		<p>This is an NPM server. To start using it you can point your NPM to this server:</p>

        <p>
            <code>npm config set registry $npmUrl</code>
        </p>

	</div>
</div>

<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>
